@font-face {
font-family: "Gilroy";
    src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
font-family: "GilroyLight";
    src: url("../fonts/web/gilroylight.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: normal; 
}

body {
    padding:0;
    margin:0;
    font-family:"Gilroy", Arial , sans-serif;
    font-weight: 800;
    color:#000000;

    background-color:white;
}

a {
    text-decoration: none;
}

.header-navigation {
    /*background-color:#f0c52e;*/
    background: linear-gradient(to bottom, white 40px,#f0c52e 40px,#f0c52e 60px);
    background-position: top center;
}


.search-main {
    font-family:"OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    font-weight:300;
    color:rgba(0, 0, 0, 0.3);
}
.search-main:hover {
    color:rgba(0, 0, 0, 0.6);
}

.search-main:focus {
    color:#000000;
}

.navigation-main {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    font-weight:300; 
}

.navigation-main a:hover {
    color:rgba(0, 0, 0, 0.6);
}

.navigation-main a:focus {
    color:rgba(0, 0, 0, 0.3);
}
.site-navigation {
    font-size:18px;
    line-height:1.33;
    letter-spacing:3.6px;
    text-align:left;
    text-transform:uppercase;
}
.site-navigation a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.site-navigation a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.item-catalog-class {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2.4;
    letter-spacing:0.2px;
    text-align:left;
    font-weight:300;
    text-transform:none;
}
.item-catalog-class a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.item-catalog-class a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.vissualy-hidden {
    display:none;
}
.visually-hidden {
    display:none;
}

.navigation-main,
.site-navigation,
.item-catalog-class,
.footer-first,
.footer-first-catalog,
.footer-second,
.footer-social-buttons {
    list-style:none;
}

.navigation-main a,
.site-navigation a,
.item-catalog-class a,
.footer-first a,
.footer-first-catalog a,
.footer-second a,
.footer-social-buttons a,
.button-contact-us,
.button-about-us,
.info a {
    color:#000000;
}

.contacts-map,
.about-us {
    text-align:left;
}

.about-us h3,
.contacts-map h3 {
    font-size:47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
}

.about-us p,
.contacts-map p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2;
    text-align:left;
    font-weight:300;
    color:#464646;
}

.delivery-company {
    text-align:left;
    font-size:16px;
    line-height: 2.5;
}

.button-contact-us,
.button-about-us {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform:uppercase;
}

.button-contacts-us:hover,
.button-about-us:hover {
    background-color:#f0c52e;
}

.button-contacts-us:focus,
.button-about-us:focus {
    color:rgba(0, 0, 0, 0.3);
    background-color:#f0c52e;
}

.main-footer {
    color:#ffffff;
    background-color:#464646;

}

.footer-first a,
.footer-first-catalog a {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.footer-first a:hover,
.footer-first-catalog a:hover {
    color:#ffffff;
}
.footer-first a:focus,
.footer-first-catalog a:focus {
    color:rgba(255, 255, 255, 0.3);
}

.footer-second a {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color:#ffffff;
}

.footer-second a:hover {
    color:rgba(255, 255, 255, 0.6);
}

.footer-second a:focus {
    color:rgba(255, 255, 255, 0.3);
}

.footer-social a {
    color:#ffffff;
}

.phone {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    text-align: right;
    color:#ffffff;
}

.adress {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    text-align: left;
    color:#ffffff;
}

.login-entered a {
    color:rgba(0, 0, 0, 0.3);
}

.login-entered-footer a {
    color:rgba(255, 255, 255, 0.7);
}

.page-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
}

.pagetree  {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.pagetree a:hover {
    color:rgba(0, 0, 0, 0.6);
}

.pagetree a:focus{
    color:rgba(0, 0, 0, 0.1);
}

.pagetree a,
.catalog-list a {
    color:#000000;
}

.pagetree,
.catalog-list,
.filter-option {
    list-style:none;
}

legend {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
}

.filter-option {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
}

.filter-button {
    font:inherit;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-align: center;
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
}

.catalog-item-price {
    font-family:"GilroyLight", Arial , sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: right;
    color:#464646;
}

.login-footer a {
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color:rgba(255, 255, 255, 0.3);
}
/*main*/

.first-slide b,
.second-slide b,
.third-slide b {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.19;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.first-slide p,
.second-slide p,
.third-slide p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.shop-slides-number {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;
}

.slide-navigation ul {
    list-style:none;
}
ul .specs {
    list-style:none;
}

.more-info {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform:uppercase;
}

.more-info {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}
.more-info:hover {
    background-color:#f0c52e;
}

.more-info:focus {
    color:rgba(0, 0, 0, 0.3);
    background-color:#f0c52e;

}
.specs b {
    font-family:"GilroyLight", Arial , sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
}

.specs p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: #464646;
}
/*center*/

.body {
    width:1440px;
}

.container-center {
    width:1160px;
    margin:0 auto;
}



/* сетка header*/

.header-navigation {
    padding-left:60px;
    padding-right:60px;
    min-height:340px;
    display:flex;
    flex-direction:column;
}

.main-header-logo {
    margin-bottom:35px;
    margin-top:21px;
    display:block;
}

.header-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.site-navigation {
    margin:0;
    padding:0;
    width:1040px;
    margin-top:48px;
    margin-right:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.search {
    display:block;
    margin:0;
    padding:0;
}
.navigation-main {
    margin:0;
    padding:0;
    width:1040px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:491px;
}

.myitems {
    margin-left:65px;
}

.compare {
    margin-left:auto;
}

.contacts-main,
.about-contacts {
    margin-left:114px;
}

.warranty-main,
.about-warranty {
    margin-left:auto;
}

.delivery-main,
.about-delivery {
    margin-left:-38px;
}

.catalog-main,
.site-navigation-current {
    margin-top:54px;
    display:block;
    margin:0;
    padding:0;
}

.item-catalog-class {
    display:none;
    margin:0;
    padding:0;
    padding-top:38px;
    width:551px;
    padding-bottom:42px;
    display:flex;
    justify-content:space-between;
}

.item-catalog-first a {
    display:block;
    margin:0;
    padding:0;
}
.item-catalog-second a {
    display:block;
    margin:0;
    padding:0;
    margin-left:58px;
}

.item-catalog-third a {
    display:block;
    margin:0;
    padding:0;
    margin-left:77px;
}
/*сетка main*/

.first-slide {
    margin-top:-112px;
    display:flex;
    flex-direction:row;
}

.shop-slides-number {
    display:none;
}

.second-slide {
    margin-top:-112px;
    display:flex;
    flex-direction:row;
    display:none;
}

.third-slide {
    margin-top:-112px;
    display:flex;
    flex-direction:row;
    display:none;
}

.slider-1 {
    margin:0;
    padding:0;
    display:block;
    margin-left:90px;
}

.slider-2 {
    margin:0;
    padding:0;
    display:block;
    margin-left:103px;
}

.slider-3 {
    margin:0;
    padding:0;
    display:block;
    margin-left:60px;
}

.slide-wrapper1 {
    margin-left:126px;
    margin-right:60px;
    display:flex;
    flex-direction:column;
}

.slide-wrapper2 {
    margin-left:139px;
    margin-right:67px;
    display:flex;
    flex-direction:column;
}
.slide-wrapper3 {
    margin-left:42px;
    margin-right:24px;
    display:flex;
    flex-direction:column;
}


.slide-wrapper1 b,
.slide-wrapper1 p,
.slide-wrapper2 b,
.slide-wrapper2 p,
.slide-wrapper3 b,
.slide-wrapper3 p {
    display:block;
    margin:0;
    padding:0;
}

.slide-wrapper1 p,
.slide-wrapper2 p,
.slide-wrapper3 p {
    margin-top:31px;
}

.shop-slides-number {
    display:block;
    margin:0;
    padding:0;
}
.slide-wrapper1-1,
.slide-wrapper1-2,
.slide-wrapper1-3 {
    display:flex;
    justify-content:space-between;
    margin-top:62px;
}

.more-info {
    display:block;
    margin:0;
    padding:0;
}
.slide-navigation ul {
    width:78px;
    margin:0;
    padding:0;
    display:flex;
 }
 
.specification {
    margin:0;
    padding:0;
    width:425px;
    display:flex;
    justify-content:space-between;
    margin-top:73px;
}

.navigation-bar-icons {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:106px;
}
.navigation-bar-img {
    display:block;
    width:160px;
    height:160px;
    background-color:#f0c52e;
}
.navigation-bar-img img {
    display:block;
    margin: 0 auto;
    padding-top:25%
}

.navigation-bar-name {
    margin:0;
    padding:0;
    width:160px;
    display:block;
    margin-top:39px;
}

.services {
    width:1440;
    margin-top:84px;
    height:388px;
    background: linear-gradient(to bottom, white 100px,#e5e5e5 100px,#e5e5e5 288px);
}

.services-wrapper {
    padding-top:80px;
    width:1160px;
    margin:auto;
    display:flex;
}
.services-info {
    display:flex;
}

.services-info-img {
    position: relative;
    left: 425px;
    bottom:192px;
    width: 136px;
    height: 164px;
}

.services-buttons ul,
.services-info {
    list-style:none;
}

.services-button {
    display:inline-block;
    width:278px;
    height:40px;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;
    margin-bottom:30px;
    box-sizing:border-box;
}

.services-wrapper ul {
    margin:0;
    padding:0;
}
.delivery-info {
    margin:0px;
    padding:0;
    margin-top:-50px;
    margin-left:124px;
    width:426px;
}

.services-info-img {
    display:block;
    margin-left:132px;;
}

.delivery-info h3,
.warranty-info h3,
.credit-info h3 {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.delivery-info p,
.warranty-info p,
.credit-info p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}
.partners {
    width:1160px;
    margin:0 auto;
}
.partners-logo {
    margin:0;
    padding:0;
    margin-top:94px;
    list-style:none;
    display:flex;
    justify-content:space-between;
}
.contact-information {
    margin-top:93px;
    display:flex;
    justify-content:space-between;
    height:655px;
}

.about-us {
    display:flex;
    flex-direction:column;
    width:462;
    height:562px;
    justify-content:space-between;
}

.contacts-map {
    display:flex;
    flex-direction:column;
    width:560px;
    height:562px;
    margin-left:139px;
    justify-content:space-between;
}
.about-us h3,
.contacts-map h3 {
    display:block;
    margin:0;
    padding:0;
}
.button-about-us {
    margin-right:auto;
    margin-top:80px;
}
.button-contact-us {
    margin-top:83px;
    margin-right:auto;
}
/*сетка footer*/

.main-footer {
    min-height:323px;
}

.footer-container-center {
    width:1160px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    padding-left:140px;
    padding-right:140px;
    padding-top:65px;
    padding-bottom:67px;
}
.footer-wrapper {
    display:flex;
    justify-content:space-between;
}

.footer-first {
    min-width:298px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
}

.footer-wrapper-second {
    margin-top:40px;
    display:flex;
    justify-content:space-between;
}
.footer-second {
    width:423px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
}
.footer-wrapper-third {
    display:flex;
    margin-top:70px;
    justify-content:space-between;
}
.adress,
.phone {
    display:block;
    margin:0;
    padding:0;
}

.htmlacademy {
    margin-left:483px;
}
.footer-social-buttons {
    display:flex;
}

/* catalog*/
.login-entered,
.login-entered-footer                   /*------------------------!*/
{
    margin-left:20px;
}

.footer-first-catalog {
    min-width:451px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;

}

.catalog-container {
    width:1440px;
    margin:0 auto;
}

.page-title {
    display:block;
    margin-top:-70px;
    margin-left:61px;
}

.pagetree li {
    position: relative;
    margin-right: 39px;
}

.pagetree li:last-child {
    margin-right: 0;
}

.pagetree-current::after {
    display:none;
}

.pagetree li::after {
    content: "\203A";
    color:#000000;
    position: absolute;
    top: 0px;
    right: -25px;

    width: 4px; 
    height: 7px; 
}

.pagetree {
    margin:0;
    padding:0;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom:49px;
    margin-left:61px;
}

.pagetree-container {
    width:1160px;
    margin:0 auto;
}

.filters-catalog {
    display:flex;
}

.catalog-list {
    display:flex;
    padding:0;
    margin:0;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: flex-end;

}

.catalog-item {
    margin-left:40px;
}

.catalog {
    width:972px;
}
.pagetree a {
    color: rgba(0, 0, 0, 0.3);
}

.filters-catalog {
    width:1440px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}

.filters-container {
    width:1160px;
    margin:0 auto;
    display:flex;
    flex-direction:row;
}

.filter-background-container {
    width:1440px;
    background:linear-gradient(to right, #ebebeb 0px,#ebebeb 468px, white 468px,white 972px);
}

.filters-name {
    display:flex;
    width:1160px;
    margin:0 auto;
    height:72px;
}
.filter-sorting-center {
    width:1440px;
    background:linear-gradient(to right, #d9d9d9 0px,#d9d9d9 468px, #ebebeb 468px,#ebebeb 972px);
}

.filters-name b {
    flex-shrink:0;
    width:328px;
}

.sorting {
    list-style:none;
    width:832px;
    padding:0;
    margin:0;
    display:flex;
    justify-content:space-between;
    margin-right:368px;
    flex-shrink:1;
    margin-left:73px;
}

.sorting-name {
    margin-right:56px;
}

.sorting a {
    display:block;
    margin-top:31px;
}
.filter-center-container {
    width:1160px;
    margin:0 auto;
}
.page-number-buttons {
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    justify-content:space-between;
    padding-right:30px;
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
}
.page-number {
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    width:86px;
    justify-content:space-between;
}
.page-number-container {
    width:759px;
    height:70px;
    margin-left:auto;
    background-color: #ebebeb;
    margin-bottom:77px;
}

