@font-face {
font-family: "Gilroy";
    src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"); 
    font-weight: 800; 
}
@font-face {
font-family: "GilroyLight";
    src: url("../fonts/web/gilroylight.woff2") format("woff2");  
    font-weight: 300; 
}

@font-face {
font-family: "OpenSans";
    src: url("../fonts/web/opensans.woff2") format("woff2"); 
    font-weight: 400; 
}

@font-face {
font-family: "OpenSans";
    src: url("../fonts/web/opensanslight.woff2") format("woff2"); 
    font-weight: 300; 
}

body {
    padding:0;
    margin:0;
    font-family:"Gilroy", Arial , sans-serif;
    font-weight: 800;
    color:#000000;

    background-color:white;
}

a {
    text-decoration: none;
}

.search-main {
    font-family:"OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    font-weight:300;
    color:rgba(0, 0, 0, 0.3);
}
.search-main:hover {
    color:rgba(0, 0, 0, 0.6);
}

.search-main:focus {
    color:#000000;
}

.navigation-main {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    font-weight:300; 
}

.navigation-main a:hover {
    color:rgba(0, 0, 0, 0.6);
}

.navigation-main a:focus {
    color:rgba(0, 0, 0, 0.3);
}
.site-navigation {
    font-size:18px;
    line-height:1.33;
    letter-spacing:3.6px;
    text-align:left;
    text-transform:uppercase;
}
.site-navigation a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.site-navigation a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.item-catalog-class {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2.4;
    letter-spacing:0.2px;
    text-align:left;
    font-weight:300;
    text-transform:none;
}
.item-catalog-class a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.item-catalog-class a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.vissualy-hidden {
    display:none;
}
.visually-hidden {
    display:none;
}

.navigation-main,
.site-navigation,
.item-catalog-class,
.footer-first,
.footer-first-catalog,
.footer-second,
.footer-social-buttons {
    list-style:none;
}

.navigation-main a,
.site-navigation a,
.item-catalog-class a,
.footer-first a,
.footer-first-catalog a,
.footer-second a,
.footer-social-buttons a,
.button-contact-us,
.button-about-us,
.info a {
    color:#000000;
}

.contacts-map,
.about-us {
    text-align:left;
}

.about-us h3,
.contacts-map h3 {
    font-size:47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
}

.about-us p,
.contacts-map p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2;
    text-align:left;
    font-weight:300;
    color:#464646;
}

.delivery-company {
    text-align:left;
    font-size:16px;
    line-height: 2.5;
}

.button-contact-us,
.button-about-us {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform:uppercase;
}

.button-contacts-us:hover,
.button-about-us:hover {
    background-color:#f0c52e;
}

.button-contacts-us:focus,
.button-about-us:focus {
    color:rgba(0, 0, 0, 0.3);
    background-color:#f0c52e;
}

.main-footer {
    margin:0 auto;
    min-height:323px;
    color:#ffffff;
    background-color:#464646;

}

.footer-first a,
.footer-first-catalog a {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.footer-first a:hover,
.footer-first-catalog a:hover {
    color:#ffffff;
}
.footer-first a:focus,
.footer-first-catalog a:focus {
    color:rgba(255, 255, 255, 0.3);
}

.footer-second a {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color:#ffffff;
}

.footer-second a:hover {
    color:rgba(255, 255, 255, 0.6);
}

.footer-second a:focus {
    color:rgba(255, 255, 255, 0.3);
}

.footer-social a {
    color:#ffffff;
}

.footer-social {
    margin-left:auto;
}

.phone {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    text-align: right;
    color:#ffffff;
}

.adress {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    text-align: left;
    color:#ffffff;
}

.login-entered a {
    color:rgba(0, 0, 0, 0.3);
}

.login-entered-footer a {
    color:rgba(255, 255, 255, 0.7);
}

.page-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
}

.pagetree  {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}
.pagetree a:hover {
    color:rgba(0, 0, 0, 0.6);
}

.pagetree a:focus{
    color:rgba(0, 0, 0, 0.1);
}

.pagetree a,
.catalog-list a {
    color:#000000;
}

.pagetree,
.catalog-list,
.filter-option {
    list-style:none;
}

legend {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
}

.filter-option {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.86;
    letter-spacing: 0.1px;
    text-align: left;
}

.filter-button {
    font:inherit;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-align: center;
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    float:left;
    
    margin:0;
    padding:0;
    margin-top:27px;
}

.catalog-item-price {
    font-family:"GilroyLight", Arial , sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: right;
    color:#464646;

    margin:0;
    padding:0;
    margin-top:27px;
}

.login-footer a {
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: left;
    color:rgba(255, 255, 255, 0.3);
}
/*main*/

.first-slide b,
.second-slide b,
.third-slide b {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.19;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.first-slide p,
.second-slide p,
.third-slide p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.slide-navigation ul {
    list-style:none;
}
ul .specs {
    list-style:none;
}

.more-info {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
    text-transform:uppercase;
    width:220px;
}


.more-info:hover {
    background-color:#f0c52e;
}

.more-info:focus {
    color:rgba(0, 0, 0, 0.3);
    background-color:#f0c52e;

}
.specs b {
    font-family:"GilroyLight", Arial , sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
}

.specs p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: #464646;
}
/*center*/

.body {
    width:100%;
    margin:0 auto;
}
.container-center {
    width:1160px;
    margin:0 auto;
}
.shop-slides {
    background: linear-gradient(to bottom, #f7e296 0px,#f7e296 129px,white 129px,white 100%);
    position:relative;
}

.shop-slides:after  {
    content: "";
    background:#ffffff;
    position: absolute;
    top: 55px;
    right: 460px;
    
    width: 100px; 
    height: 7px;   
}

/* сетка header*/

.header-navigation {
    padding-left:60px;
    padding-right:60px;
    min-height:210px;
    display:flex;
    flex-direction:column;
    background: linear-gradient(to bottom, white 40px,#f7e296 40px,#f7e296 60px);
}

.main-header-logo {
    margin-bottom:28px;
    margin-top:20px;
    display:block;
}

.header-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.site-navigation {
    margin:0;
    padding:0;
    width:1040px;
    margin-top:35px;
    margin-right:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.search {
    display:block;
    margin:0;
    padding:0;
}
.navigation-main {
    margin:0;
    padding:0;
    width:1040px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:491px;
}

.myitems {
    position:relative;
    margin-left:65px;
}

.myitems a:before {
    content: "";
    background:url("../img/cart.svg");
    position: absolute;
    top: 8px;
    right: 70px;

    width: 12px; 
    height: 12px;   
}

.compare {
    position:relative;
    margin-left:auto;
}

.compare a:before {
    content: "";
    background:url("../img/compare.svg");
    position: absolute;
    top: 9px;
    right: 77px;
    
    width: 10px; 
    height: 10px;   
}

.login-enter {
    position:relative;
    margin-left:18px;
}

.logged a {
    position:relative;
}

.login-enter a:before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 8px;
    right: 58px;

    width: 13px; 
    height: 12px;   
}

.contacts-main,
.about-contacts {
    margin-left:100px;
}

.warranty-main,
.about-warranty {
    margin-left:34px;
}

.delivery-main,
.about-delivery {
    margin-left:auto;
}

.catalog-main,
.site-navigation-current {
    margin-top:54px;
    display:block;
    margin:0;
    padding:0;
}

.item-catalog-class {
    display:none;
    margin:0;
    padding:0;
    padding-top:38px;
    width:551px;
    padding-bottom:42px;
    display:flex;
    justify-content:space-between;
}

.item-catalog-first a {
    display:block;
    margin:0;
    padding:0;
}
.item-catalog-second a {
    display:block;
    margin:0;
    padding:0;
    margin-left:58px;
}

.item-catalog-third a {
    display:block;
    margin:0;
    padding:0;
    margin-left:77px;
}
/*сетка main*/

.first-slide {
    display:flex;
    flex-direction:row;
    display:none;
    position:relative;
}

.first-slide:before {
    content: "01";
    position: absolute;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;
    top: -5px;
    right: 42px;
}

.second-slide {
    display:flex;
    flex-direction:row;
    display:none;
    position:relative;
}

.second-slide:before {
    content: "02";
    position: absolute;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;
    top: -5px;
    right: 42px;
}

.third-slide {
    display:flex;
    flex-direction:row;
    display:none;
    position:relative;
}

.third-slide:before {
    content: "03";
    position: absolute;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;
    top: -5px;
    right: 42px; 
}

.slider-1 {
    margin:0;
    padding:0;
    display:block;
    margin-left:90px;
    margin-top:5px;
}

.slider-2 {
    margin:0;
    padding:0;
    display:block;
    margin-left:103px;
    margin-top:5px;
}

.slider-3 {
    margin:0;
    padding:0;
    display:block;
    margin-left:60px;
    margin-top:5px;
}

.slide-wrapper1 {
    margin-left:125px;
    margin-right:60px;
    display:flex;
    flex-direction:column;
    margin-top:85px;
}

.slide-wrapper2 {
    margin-left:139px;
    margin-right:67px;
    display:flex;
    flex-direction:column;
    margin-top:85px;
}

.slide-wrapper3 {
    margin-left:42px;
    margin-right:24px;
    display:flex;
    flex-direction:column;
    margin-top:85px;
}


.slide-wrapper1 b,
.slide-wrapper1 p,
.slide-wrapper2 b,
.slide-wrapper2 p,
.slide-wrapper3 b,
.slide-wrapper3 p {
    display:block;
    margin:0;
    padding:0;
}

.slide-wrapper1 p,
.slide-wrapper2 p,
.slide-wrapper3 p {
    margin-top:19px;
    margin-right:2px;
    margin-bottom:52px;
}

.more-info {
    display:block;
    margin:0;
    padding:0;
}
.slide-navigation ul {
    width:78px;
    margin:0;
    padding:0;
    display:flex;
 }
 
.specification {
    margin:0;
    padding:0;
    width:425px;
    display:flex;
    justify-content:space-between;
    margin-top:57px;
}

.navigation-bar-icons {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:50px;
}
.navigation-bar-img {
    position:relative;
    display:block;
    width:160px;
    height:238px;
    background: linear-gradient(to bottom, #f7e296 0px,#f7e296 160px,white 160px,white 238px);
}

.navigation-bar-name {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    margin:0;
    padding:0;
    width:160px;
    display:block;
    padding-top:194px;
}

.services {
    margin-top:79px;
    height:393px;
    background: linear-gradient(to bottom, white 105px,#e5e5e5 105px,#e5e5e5 293px);
}

.services-wrapper {
    padding-top:80px;
    width:1160px;
    margin:auto;
    display:flex;
    position:relative;
}

.services-wrapper:before {
    content: "";
    background:#000000;
    position: absolute;
    top: 4px;
    right: 876px;
    
    width: 7px; 
    height: 319px;   
}

.services-info {
    display:flex;
    width:876px;
}

.services-buttons ul,
.services-info {
    list-style:none;
}

.services-button {
    display:inline-block;
    width:278px;
    height:40px;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;
    margin-bottom:21px;
    margin-top:5px;
    box-sizing:border-box;
}

.services-wrapper ul {
    margin:0;
    padding:0;
}
.delivery-info {
    margin:0px;
    padding:0;
    margin-left:124px;
    padding-right:324px;
    background:url("../img/delivery.svg") no-repeat;
    background-position-x: 556px;
    background-position-y: 10px;
}

.warranty-info {
    margin:0px;
    padding:0;
    margin-left:124px;
    padding-right:324px;
    background:url("../img/warranty.svg") no-repeat;
    background-position-x: 556px;
    background-position-y: 10px;
    display:none;
}

.credit-info {
    margin:0px;
    padding:0;
    margin-left:124px;
    padding-right:324px;
    background:url("../img/credit.svg") no-repeat;
    background-position-x: 556px;
    background-position-y: 10px;
    display:none;
}

.delivery-info h3,
.warranty-info h3,
.credit-info h3 {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin:0;
    padding:0;
}

.delivery-info p,
.warranty-info p,
.credit-info p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
    margin-top:32px;
}
.partners {
    width:1160px;
    margin:0 auto;
}
.partners-logo {
    margin:0;
    padding:0;
    margin-top:94px;
    list-style:none;
    display:flex;
    justify-content:space-between;
}
.contact-information {
    margin-top:143px;
    display:flex;
    justify-content:space-between;
    height:601px;
    position:relative;
}

.contact-information:after {
    content: "";
    background:#000000;
    position: absolute;
    top: -54px;
    right: 1080px;
    
    width: 80px; 
    height: 7px;   
}

.contact-information:before {
    content: "";
    background:#000000;
    position: absolute;
    top: -54px;
    right: 480px;
    
    width: 80px; 
    height: 7px;   
}

.about-us {
    display:flex;
    flex-direction:column;
    width:462;
    height:562px;
    justify-content:space-between;
}

.contacts-map {
    display:flex;
    flex-direction:column;
    width:560px;
    height:562px;
    margin-left:139px;
    justify-content:space-between;
}
.about-us h3,
.contacts-map h3 {
    display:block;
    margin:0;
    padding:0;
}
.button-about-us {
    margin-right:auto;
    margin-top:80px;
}
.button-contact-us {
    margin-top:83px;
    margin-right:auto;
}
/*сетка footer*/


.footer-container-center {
    width:1160px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    padding-top:60px;
    position:relative;
}

.footer-container-center:after {
    content: "";
    background:#ffc600;
    position: absolute;
    top: 237px;
    right: 1080px;
    
    width: 80px; 
    height: 7px;   
}

.footer-wrapper {
    display:flex;
    justify-content:space-between;
}

.footer-first {
    min-width:298px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
}

.footer-wrapper-second {
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}
.footer-second {
    width:423px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
    margin-top:5px;
    margin-right:40px;
}
.footer-wrapper-third {
    display:flex;
    margin-top:62px;

}
.adress,
.phone {
    display:block;
    margin:0;
    padding:0;
}

.htmlacademy {
    margin-left:483px;
}
.footer-social-buttons {
    width:141px;
    display:flex;
    margin:0;
    padding:0;
    justify-content:space-between;
    flex-wrap: wrap;
}

.social-button:focus {
  opacity:0.1;
}

.social-button:hover {
    opacity:0.6;
}

.social-button:hover path,
.social-button:focus path {
    fill:rgba(255, 255, 255, 0.3);
}

/* catalog*/
.login-entered,
.login-entered-footer                   
{
    margin-left:20px;
}

.footer-first-catalog {
    min-width:451px;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;

}

.catalog-container {
    width:100%;
    margin:0 auto;
}

.page-title {
    margin:0;
    padding:0;
    display:block;
    margin-left:61px;
    padding-top:55px;
}

.pagetree li {
    position: relative;
    margin-right: 39px;
}

.pagetree li:last-child {
    margin-right: 0;
}

.pagetree-current::after {
    display:none;
}

.pagetree li::after {
    content: "";
    background: url("../img/nav-arrow.svg");
    position: absolute;
    top: 10px;
    right: -17px;

    width: 4px; 
    height: 7px; 
}

.pagetree {
    margin:0;
    padding:0;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top:20px;
    margin-bottom:46px;
    margin-left:61px;
}

.pagetree-container {
    width:1160px;
    margin:0 auto;
    background:linear-gradient(to bottom, #f7e296 0px,#f7e296 16px, white 16px,white 100%);
}

.filters-catalog {
    display:flex;
}

.catalog-list {
    display:flex;
    padding:0;
    margin:0;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: flex-end;
    height:960px;

}

.catalog-item {
    margin-left:40px;
    margin-bottom:47px;
}

.catalog {
    width:972px;
    margin-top:68px;
}
.pagetree a {
    color: rgba(0, 0, 0, 0.3);
}

.filters-catalog {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}



.filters-container {         
    width:1160px;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    height:1217px;
}

.filters {

    position:relative; 
}


.filter-background-container {
    width:100%;
    height:1217px;
}

.filters::after {          
    content: "";                          
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: #ebebeb;
}

.filters::before {          
    content: "";                          
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;;
    width:328px;
    background-color: #ebebeb;
}


.filters-name {
    display:flex;
    width:1160px;
    margin:0 auto;
    height:72px;
    position:relative;
}
.filters-name b::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: #d9d9d9;
}

/* Второй вариант полосы

.filters-name::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-right: calc(50% - 50vw + 10px);
    background-color: #ebebeb;
}*/

.filter-sorting-center {
    margin:0 auto;
    background-color: #ebebeb;
    width:100%;
    height:70px;
    z-index:-2;
}

.filters-name b {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color:#000000;
    position:relative;

    flex-shrink:0;
    width:268px;
    background-color: #d9d9d9;
    padding-left:60px;
    padding-top:20px;
}

.sorting {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    justify-content:space-between;
    flex-shrink:1;
    margin-left:73px;
    align-items:center;
}

.sorting li {
    align-items:center;
}

.sorting-name {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color:#000000;
    margin-right:50px;

    
}

.sorting-buttons {
    display:flex;
    width:41px;
    justify-content:space-between;
    margin-left:auto;
    align-items:center;
}

.sorting a {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color:#000000;

    display:block;
    margin-right:30px;
}
.filter-center-container {
    width:1160px;
    margin:0 auto;
}
.page-number-buttons {
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    justify-content:space-between;
    padding-right:30px;
    padding-left:30px;
    padding-top:25px;
    padding-bottom:30px;
}

.page-number-buttons a {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: #000000;
}

.page-number {
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    width:86px;
    justify-content:space-between;
}
.page-number-container {
    width:759px;
    height:70px;
    margin-left:auto;
    background-color: #ebebeb;
    margin-top:41px;
}

.catalog-item-image{
    margin:0;
    padding:0;
    display:block;
}

.item-catalog-class {
    display:none;
}

 .slider-controls label {
    width: 10px;
    height: 10px;
    margin-right: 21px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 1.5px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
    display: flex;
    flex-direction:row;
    position:relative;
    width:110px;
    top: 344px;
    left:998.5px;
    z-index: 20;
    
    font-size: 0;

}

#product-1:checked ~  .shop-slides #slide1,
#product-2:checked ~  .shop-slides #slide2,
#product-3:checked ~  .shop-slides #slide3 {
  display:flex;
}

.img-vr::before {
    content: "";
    background:url("../img/popular-1.svg");
    position: absolute;
    top: 52px;
    right: 32px;

    width: 97px; 
    height: 55px;   
}

.img-selfie::before {
    content: "";
    background:url("../img/popular-2.svg");
    position: absolute;
    top: 41px;
    right: 36px;

    width: 86px; 
    height: 117px;  
}

.img-action::before {
    content: "";
    background:url("../img/popular-3.svg");;
    position: absolute;
    top: 38px;
    right: 40px;

    width: 71px; 
    height: 87px;  
}

.img-fitnes::before {
    content: "";
    background:url("../img/popular-4.svg");;
    position: absolute;
    top: 50px;
    right: 25px;

    width: 107px; 
    height: 65px;  
}

.img-smart::before {
    content: "";
    background:url("../img/popular-5.svg");;
    position: absolute;
    top: 32px;
    right: 49px;

    width: 56px; 
    height: 98px;   
}

.img-quadro::before {
    content: "";
    background:url("../img/popular-6.svg");;
    position: absolute;
    top:49px;
    right:15px;

    width: 132px; 
    height: 69px;   
}

.footer-logo {
    margin-top:5px;
    width:163px;
    height:35px;
    fill:#ffc600;
}

.modal {
    position: fixed;
  
    color: #000000;

    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-question {
    display:none;
    top: 237px;
    left: 50%;

    width: 760px;
    height:362px;
    margin-left:-480px;
    padding-left:100px;
    padding-right:100px;
    padding-top:99px;
    padding-bottom:92px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
  
    font-size: 0;
  
    background-color: #f7e296;
    border: 0;
    border-radius:50%;
  
    cursor: pointer;
  }

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 27px;
  left: 12px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.question-form p {
    display:flex;
    flex-direction:column;
}

.question-form-wrapper {
    display:flex;
}

.login-password-info {
    margin-top:39px;
    margin-bottom:55px;
}

.question-text {
    margin-bottom:13px;
}

.login-password-info textarea {
    width:720px;
    height:120px;
    background-color:#ebebeb;
    border:0;
    resize:none;
    padding-left:20px;
    padding-top:18px;
    padding-right:20px;
    padding-bottom:18px;
}

.question-icon-user,
.login-icon-password {
    width:320px;
    height:50px;
    background-color:#ebebeb;
    border:0;
    padding-right:20px;
    padding-left:20px;
}

.login-icon-password,
.question-email {
    margin-left:40px;
}

.modal-map {
    display:none;
    top: 237px;
    left: 50%;

    width: 960px;
    height:559px;
    margin-left:-480px;
  }

.modal-map p {
    margin:0;
    padding:0;
}

.myitems-footer {
    position:relative;
}

.myitems-footer a::before {
    content: "";
    background:url("../img/cart.svg");
    position: absolute;
    top: 11px;
    right: 70px;

    width: 12px; 
    height: 12px;   
}

.compare-footer a {
    position:relative;
    margin-right:62px;
}

.compare-footer a::before {
    content: "";
    background:url("../img/compare.svg");
    position: absolute;
    top: 7px;
    right: 79px;
    
    width: 10px; 
    height: 10px;   
}

.login-footer a {
    position:relative;
    margin-right:64px;
}

.login-footer-main a::before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 4px;
    right: 56px;

    width: 13px; 
    height: 12px;   
}

.login-entered-footer {
    position:relative;
}

.login-entered-footer a::before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 12px;
    right: 165px;

    width: 13px; 
    height: 12px;   
}

.login-entered-footer a {
    margin-right:20px;
}

.logged a {
    margin-left:17px;
}

.logged {
    position:relative;
}

.logged a::before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 3px;
    right: 145px;

    width: 13px; 
    height: 12px;   
}

.new {
    position:relative;
}

.new::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 27px;

    width: 56px;
    height: 56px;
    opacity: 0.1;
    border: solid 2px #000000;
    border-radius:50%;
}

.new::before {
    content: "NEW";
    position: absolute;
    top: 46px;
    right: 39px;


    opacity: 0.2;
    font-family: "Gilroy", Arial , sans-serif;
    font-size:14px;
    font-weight: 800;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
}