@font-face {
font-family: "Gilroy";
    src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"); 
    font-weight: 800; 
}
@font-face {
font-family: "GilroyLight";
    src: url("../fonts/web/gilroylight.woff2") format("woff2");  
    font-weight: 300; 
}

@font-face {
font-family: "OpenSans";
    src: url("../fonts/web/opensans.woff2") format("woff2"); 
    font-weight: 400; 
}

@font-face {
font-family: "OpenSans";
    src: url("../fonts/web/opensanslight.woff2") format("woff2"); 
    font-weight: 300; 
}

body {
    padding:0;
    margin:0;
    font-family:"Gilroy", Arial , sans-serif;
    font-weight: 800;
    color:#000000;

    background-color:white;
}

a {
    text-decoration: none;
}

.navigation-main {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: left;
    font-weight:300; 
}

.navigation-main a:hover {
    color:rgba(0, 0, 0, 0.6);
}

.navigation-main a:focus {
    color:rgba(0, 0, 0, 0.3);
}
.site-navigation {
    font-size:18px;
    line-height:1.33;
    letter-spacing:3.6px;
    text-align:left;
    text-transform:uppercase;
}
.site-navigation a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.site-navigation a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.item-catalog-class {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2.4;
    letter-spacing:0.2px;
    text-align:left;
    font-weight:300;
    text-transform:none;
}
.item-catalog-class a:hover {
    color:rgba(0, 0, 0, 0.6);
}
.item-catalog-class a:focus {
    color:rgba(0, 0, 0, 0.3);
}

.vissualy-hidden {
    display:none;
}
.visually-hidden {
    display:none;
}

.navigation-main,
.site-navigation,
.item-catalog-class,
.footer-first,
.footer-first-catalog,
.footer-second,
.footer-social-buttons {
    list-style:none;
}

.navigation-main a,
.site-navigation a,
.item-catalog-class a,
.footer-first a,
.footer-first-catalog a,
.footer-second a,
.footer-social-buttons a,
.button-contact-us,
.button-about-us,
.info a {
    color:#000000;
}

.contacts-map,
.about-us {
    text-align:left;
}

.about-us h3,
.contacts-map h3 {
    font-size:47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
}

.about-us-first {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2;
    text-align:left;
    font-weight:300;
    color:#464646;

    margin:0;
    padding:0;
    padding-top:43px;
    width:462px;
}

.about-us-second {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2;
    text-align:left;
    font-weight:300;
    color:#464646;

    display:block;
    width:475px;
    margin:0;
    padding:0;
    padding-top:30px;
}

.contacts-map p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size:15px;
    line-height:2;
    text-align:left;
    font-weight:300;
    color:#464646;

    margin:0;
    padding:0;
    margin-top:4px;
}

.delivery-company {
    font-family: "Gilroy", Arial , sans-serif;
    text-align:left;
    font-size:16px;
    line-height: 2.5;
    list-style:none;

    margin:0;
    padding:0;
    margin-top:65px;
    padding-left:36px;
}

.button-contact-us,
.button-about-us {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform:uppercase;
}

.button-contacts-us:hover,
.button-about-us:hover {
    background-color:#f0c52e;
}

.button-contacts-us:focus,
.button-about-us:focus {
    color:rgba(0, 0, 0, 0.3);
    background-color:#f0c52e;
}

.main-footer {
    min-height:323px;
    color:#ffffff;
    background-color:#464646;
}

.footer-first a,
.footer-first-catalog a {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.footer-first a:hover,
.footer-first-catalog a:hover {
    color:#ffffff;
}
.footer-first a:focus,
.footer-first-catalog a:focus {
    color:rgba(255, 255, 255, 0.3);
}

.footer-second a {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color:#ffffff;
    text-transform:uppercase;

    margin-right: 28px;
    margin-left: 5px;
}

.footer-second a:hover {
    color:rgba(255, 255, 255, 0.6);
}

.footer-second a:focus {
    color:rgba(255, 255, 255, 0.3);
}

.footer-social a {
    color:#ffffff;
}

.footer-social {
    margin-left:auto;
}

.phone {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    text-align: right;
    color:#ffffff;
    letter-spacing: 0.4px;
}

.adress {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    text-align: left;
    color:#ffffff;
    letter-spacing: 0.4px;
}

.login-entered a {
    color:rgba(0, 0, 0, 0.3);
}

.login-entered-footer a {
    color:rgba(255, 255, 255, 0.7);
}

.page-title {
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
}

.pagetree  {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);

    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin:0;
    padding:0;
    margin-top:25px;
    margin-bottom:46px;
    margin-left:60px;
}

.pagetree a:hover {
    color:rgba(0, 0, 0, 0.6);
}

.pagetree a:focus{
    color:rgba(0, 0, 0, 0.1);
}

.pagetree a,
.catalog-list a {
    color:#000000;
}

.pagetree,
.catalog-list,
.filter-option {
    list-style:none;
}

legend {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
}

.filter-button {
    font:inherit;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-align: center;

    margin:0;
    padding:0;
    margin-top:41px;
    margin-left:100px;
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: left;
    
    margin:0;
    padding:0;
    margin-top:28px;
}

.catalog-item-price {
    font-family:"GilroyLight", Arial , sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: right;
    color:#464646;

    margin:0;
    padding:0;
    margin-top:29px;
}

.login-footer a {
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    text-align: left;
    color:rgba(255, 255, 255, 0.3);
}
/*main*/

.first-slide b,
.second-slide b,
.third-slide b {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.19;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.first-slide p,
.second-slide p,
.third-slide p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;
}

.slide-navigation ul {
    list-style:none;
}

.specification {
    list-style:none;
}

.more-info {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
    text-transform:uppercase;

    display:block;
    margin:0;
    padding:0;
    width:220px;
    padding-left:2px;
}


.more-info:hover {
    background-color:#f0c52e;
}

.more-info:focus {
    color:rgba(0, 0, 0, 0.3);
    background-color:#f0c52e;

}
.specification b {
    font-family:"GilroyLight", Arial , sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
}

.specification p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.54;
    letter-spacing: 0.1px;
    text-align: left;
    color: #464646;
}

/*center*/

.body {
    width:100%;
    margin:0 auto;
}
.container-center {
    width:1160px;
    margin:0 auto;
}
.shop-slides {
    counter-reset: section;

    background: linear-gradient(to bottom, #f7e296 0px,#f7e296 127px,white 127px,white 100%);
    position:relative;
}

.shop-slides:after  {
    content: "";
    background:#ffffff;
    position: absolute;
    top: 54px;
    right: 460px;
    
    width: 100px; 
    height: 7px;   
}

/* сетка header*/

.header-navigation {
    display:flex;
    flex-direction:column;
    background: linear-gradient(to bottom, white 38px,#f7e296 38px,#f7e296 60px);

    padding-left:60px;
    padding-right:60px;
    min-height:210px;
}

.main-header-logo {
    display:block;

    margin-bottom:16px;
    margin-top:20px;
}

.catalog-header-logo {
    display:block;

    margin-bottom:14px;
    margin-top:22px;
}

.header-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.site-navigation {
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    margin:0;
    padding:0;
    width:1044px;
    margin-top:31px;
    margin-right:auto;
}
.search {
    display:block;
    
    margin:0;
    padding:0;
}
.navigation-main {
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    margin:0;
    padding:0;
    margin-top:11px;
    width:491px;
}

.myitems {
    position:relative;

    margin-left:60px;
}

.myitems a:before {
    content: "";
    background:url("../img/cart.svg");
    position: absolute;
    top: 8px;
    right: 70px;

    width: 12px; 
    height: 12px;   
}

.compare {
    position:relative;

    margin-left:auto;
}

.compare a:before {
    content: "";
    background:url("../img/compare.svg");
    position: absolute;
    top: 9px;
    right: 79px;
    
    width: 10px; 
    height: 10px;   
}

.login-enter {
    position:relative;

    margin-left:18px;
}

.logged a {
    position:relative;
}

.login-enter a:before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 8px;
    right: 58px;

    width: 13px; 
    height: 12px;   
}

.contacts-main,
.about-contacts {
    margin-left:110px;
}

.warranty-main,
.about-warranty {
    margin-left:34px;
}

.delivery-main,
.about-delivery {
    margin-left:auto;
}

.catalog-main,
.site-navigation-current {
    display:block;

    position:relative;

    margin:0;
    padding:0;
}

.catalog-main a::before,
.site-navigation-current a::before {
    content: "";
    background:url("../img/plus.svg");
    position: absolute;
    top: 4px;
    right: -29px;
    
    width: 16px; 
    height: 16px;  
}

.item-catalog-class {
    display:none;
    display:flex;
    justify-content:space-between;

    margin:0;
    padding:0;
    padding-top:38px;
    width:551px;
    padding-bottom:42px;
}

.item-catalog-first a {
    display:block;

    margin:0;
    padding:0;
}
.item-catalog-second a {
    display:block;

    margin:0;
    padding:0;
    margin-left:58px;
}

.item-catalog-third a {
    display:block;

    margin:0;
    padding:0;
    margin-left:77px;
}
/*сетка main*/

.first-slide {
    display:flex;
    flex-direction:row;
    display:none;
    position:relative;
}

.first-slide:before {
    content: "01";
    position: absolute;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;

    top: -9px;
    right: 46px;
}

.second-slide {
    display:flex;
    flex-direction:row;
    display:none;
    position:relative;
}

.second-slide:before {
    content: "02";
    position: absolute;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;

    top: -9px;
    right: 46px;
}

.third-slide {
    display:flex;
    flex-direction:row;
    display:none;
    position:relative;
}

.third-slide:before {
    content: "03";
    position: absolute;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: right;
    color: white;

    top: -9px;
    right: 46px; 
}

.slider-1 {
    display:block;

    margin:0;
    padding:0;
    margin-left:90px;
    margin-top:5px;
}

.slider-2 {
    display:block;

    margin:0;
    padding:0;
    margin-left:115px;
    margin-top:17px;
}

.slider-3 {
    display:block;

    margin:0;
    padding:0;
    margin-left:30px;
    margin-top:70px;
}

.slide-wrapper1 {
    display:flex;
    flex-direction:column;

    margin-left:125px;
    margin-right:60px;
    margin-top:83px;
}

.slide-wrapper2 {
    display:flex;
    flex-direction:column;

    margin-left:139px;
    margin-right:67px;
    margin-top:85px;
}

.slide-wrapper3 {
    display:flex;
    flex-direction:column;

    z-index:1;

    margin-left:43px;
    margin-right:24px;
    margin-top:85px;
}

.specs-third-slider {
    margin-right:154px;
}

.slide-wrapper1 b,
.slide-wrapper1 p,
.slide-wrapper2 b,
.slide-wrapper2 p,
.slide-wrapper3 b,
.slide-wrapper3 p {
    display:block;

    margin:0;
    padding:0;
}

.slide-wrapper1 p,
.slide-wrapper2 p,
.slide-wrapper3 p {
    margin-top:20px;
    margin-bottom:50px;
}

.slide-navigation ul {
    display:flex;

    width:78px;
    margin:0;
    padding:0;
 }
 
.specification {
    display:flex;
    justify-content:space-between;

    margin:0;
    padding:0;
    width:429px;
    margin-top:57px;
}

.specification p {
    margin-top:8px;
    margin-bottom:62px;
}

.navigation-bar-icons {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    margin:0;
    padding:0;
    margin-top:53px;
}
.navigation-bar-img {
    position:relative;
    display:block;
    background: linear-gradient(to bottom, #f7e296 0px,#f7e296 160px,white 160px,white 238px);

    width:160px;
    height:238px;
}

.navigation-bar-name {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    letter-spacing: 0.18px;

    display:block;

    margin:0;
    padding:0;
    width:160px;
    padding-top:194px;
}

.services {
    margin-top:79px;
    height:393px;

    background: linear-gradient(to bottom, white 105px,#e5e5e5 105px,#e5e5e5 293px);
}

.services-wrapper {
    margin:auto;
    display:flex;
    position:relative;

    padding-top:80px;
    width:1160px;

}

.services-wrapper:before {
    content: "";
    background:#000000;
    position: absolute;
    top: 5px;
    right: 876px;
    
    width: 7px; 
    height: 319px;   
}

.services-info {
    display:flex;

    width:876px;
}

.services-buttons ul,
.services-info {
    list-style:none;
}

.services-button {
    display:inline-block;
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000000;

    box-sizing:border-box;

    width:278px;
    height:40px;
    margin-bottom:21px;
    margin-top:5px;
}

.services-wrapper ul {
    margin:0;
    padding:0;
}
.delivery-info {
    margin:0;
    padding:0;
    margin-left:124px;
    padding-right:324px;

    background:url("../img/delivery.svg") no-repeat;
    background-position-x: 556px;
    background-position-y: 10px;
}

.warranty-info {
    margin:0px;
    padding:0;
    margin-left:124px;
    padding-right:324px;

    background:url("../img/warranty.svg") no-repeat;
    background-position-x: 556px;
    background-position-y: 10px;

    display:none;
}

.credit-info {
    margin:0px;
    padding:0;
    margin-left:124px;
    padding-right:324px;

    background:url("../img/credit.svg") no-repeat;
    background-position-x: 556px;
    background-position-y: 10px;

    display:none;
}

.delivery-info h3,
.warranty-info h3,
.credit-info h3 {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 47px;
    line-height: 1.02;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;

    margin:0;
    padding:0;
}

.delivery-info p,
.warranty-info p,
.credit-info p {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.2px;
    text-align: left;
    color: #464646;

    margin-top:30px;
}

.partners {
    width:1160px;
    margin:0 auto;
}

.partners-logo {
    list-style:none;
    display:flex;
    justify-content:space-between;

    margin:0;
    padding:0;
    margin-top:94px;
}

.contact-information {
    display:flex;
    justify-content:space-between;
    position:relative;

    margin-top:143px;
    height:602px;
}

.contact-information:after {
    content: "";
    background:#000000;
    position: absolute;
    top: -53px;
    right: 1080px;
    
    width: 80px; 
    height: 7px;   
}

.contact-information:before {
    content: "";
    background:#000000;
    position: absolute;
    top: -53px;
    right: 480px;
    
    width: 80px; 
    height: 7px;   
}

.about-us {
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    height:462px;
}

.contacts-map {
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    width:562px;
    height:562px;
}

.about-us h3,
.contacts-map h3 {
    display:block;

    margin:0;
    padding:0;
}

.button-about-us {
    margin-right:auto;
    margin-top:62px;
    padding-left:23px;
}

.button-contact-us {
    margin-top:33px;
    margin-right:auto;
    padding-bottom:50px;
    padding-left:42px;
}

.footer-container-center {
    display:flex;
    flex-direction:column;
    position:relative;

    width:1160px;
    margin:0 auto;
    padding-top:60px;
}

.footer-container-center:after {
    content: "";
    background:#ffc600;
    position: absolute;
    top: 237px;
    right: 1080px;
    
    width: 80px; 
    height: 7px;   
}

.footer-wrapper {
    display:flex;
    justify-content:space-between;
}

.footer-first {
    display:flex;
    justify-content:space-between;

    min-width:298px;
    margin:0;
    padding:0;
}

.footer-wrapper-second {
    display:flex;
    justify-content:space-between;

    margin-top:30px;
}

.footer-second {
    display:flex;
    justify-content:space-between;

    width:423px;
    margin:0;
    padding:0;
    margin-top:6px;
    margin-right:46px;
}

.footer-wrapper-third {
    display:flex;

    margin-top:62px;
}

.adress,
.phone {
    display:block;
    
    margin:0;
    padding:0;
}

.htmlacademy {
    margin-left:483px;
}

.footer-social-buttons {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;

    width:141px;
    margin:0;
    padding:0;
}

.social-button:focus {
  opacity:0.1;
}

.social-button:hover {
    opacity:0.6;
}

.social-button:hover path,
.social-button:focus path {
    fill:rgba(255, 255, 255, 0.3);
}

.login-entered,
.login-entered-footer {
    margin-left:18px;
}

.footer-first-catalog {
    display:flex;
    justify-content:flex-end;

    min-width:451px;
    margin:0;
    padding:0;
}

.catalog-container {
    width:100%;
}

.page-title {
    display:block;

    margin:0;
    padding:0;
    margin-left:59px;
    padding-top:51px;
}

.pagetree li {
    position: relative;

    margin-right: 37px;
}

.pagetree-current::after {
    display:none;
}

.pagetree li::after {
    content: "";
    background: url("../img/nav-arrow.svg");
    position: absolute;
    top: 9px;
    right: -21px;

    width: 4px; 
    height: 7px; 
}

.pagetree-container {
    width:1160px;
    margin:0 auto;

    background:linear-gradient(to bottom, #f7e296 0px,#f7e296 14px, white 14px,white 100%);
}

.filters-catalog {
    display:flex;
}

.catalog-list {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: flex-end;

    padding:0;
    margin:0;
    height:960px;

}

.catalog-item {
    margin-left:40px;
    margin-bottom:47px;
}

.catalog-item-container {
    display:flex;
    justify-content:space-between;
}

.catalog {
    width:972px;
    margin-top:69px;
}

.pagetree a {
    color: rgba(0, 0, 0, 0.3);
}

.filters-catalog {
    display:flex;
    flex-direction:column;
}

.filters-container {         
    width:1160px;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    height:1217px;
}

.filters {
    position:relative; 
}

.filter-item legend::before,
.colors legend::before,
.bluetooth legend::before {
    content: "";
    background:#000000;
    position: absolute;
    top: -12px;
    
    width: 201px; 
    height: 2px;  
}

.filters::after {          
    content: "";                          
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: #ebebeb;
}

.filters::before {          
    content: "";                          
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;;
    width:328px;
    background-color: #ebebeb;
}


.filters-name {
    display:flex;
    position:relative;

    width:1160px;
    margin:0 auto;
}

.filters-name b::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: #d9d9d9;
}

.filter-sorting-center {
    background-color: #ebebeb;
    width:100%;
    z-index:1;
}

.filters-name b {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    color:#000000;
    text-transform: uppercase;

    position:relative;

    flex-shrink:0;

    background-color: #d9d9d9;

    width:266px;
    padding-left:62px;
    padding-top:23px;
    padding-bottom:23px;
}

.sorting {
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    justify-content:space-between;
    flex-shrink:1;
    align-items:center;

    margin-left:73px;
}

.sorting li {
    align-items:center;
}

.sorting-name {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.5px;
    text-align: left;
    color:#000000;
    text-transform: uppercase;

    margin-right:51px;
}

.sorting-buttons {
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:41px;
    margin-left:auto;
}

.sorting a {
    font-family: "OpenSans", Arial , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    color:#000000;

    display:block;

    margin-right:29px;
}

.filter-center-container {
    width:1160px;
    margin:0 auto;
}

.page-number-buttons {
    list-style:none;
    display:flex;
    justify-content:space-between;

    margin:0;
    padding:0;
    padding-right:27px;
    padding-left:29px;
    padding-top:24px;
}

.page-number-buttons a {
    font-family: "Gilroy", Arial , sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: #000000;
    text-transform:uppercase;
}

.page-number {
    list-style:none;
    display:flex;
    justify-content:space-between;

    margin:0;
    padding:0;
    width:86px;
}

.page-number-container {
    width:759px;
    height:70px;
    margin-left:auto;
    margin-top:41px;

    background-color: #ebebeb;
}

.catalog-item-image{
    margin:0;
    padding:0;

    display:block;
}

.catalog-item-image:hover {
    opacity:0.7;
}

.item-catalog-class {
    display:none;
}

 .slider-controls label {
    position:relative;
    width: 10px;
    height: 10px;
    margin-right: 21px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 1.5px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls {
    display: flex;
    flex-direction:row;
    position:relative;

    width:110px;
    top: 344px;
    left:998.5px;
    z-index: 20;
    
    font-size: 0;

}

#product-1:checked ~  .shop-slides #slide1,
#product-2:checked ~  .shop-slides #slide2,
#product-3:checked ~  .shop-slides #slide3 {
  display:flex;
}

#product-1:checked ~ .shop-slides label[for="product-1"]::after,
#product-2:checked ~ .shop-slides label[for="product-2"]::after,
#product-3:checked ~ .shop-slides label[for="product-3"]::after {
    position:absolute;
    content:"";

    top:25%;
    left:25%;

    width: 3px;
    height: 3px;
  
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    z-index:1;
}

.img-vr::before {
    content: "";
    background:url("../img/popular-1.svg");
    position: absolute;
    top: 52px;
    right: 32px;

    width: 97px; 
    height: 55px;   
}

.img-selfie::before {
    content: "";
    background:url("../img/popular-2.svg");
    position: absolute;
    top: 41px;
    right: 36px;

    width: 86px; 
    height: 117px;  
}

.img-action::before {
    content: "";
    background:url("../img/popular-3.svg");;
    position: absolute;
    top: 38px;
    right: 40px;

    width: 71px; 
    height: 87px;  
}

.img-fitnes::before {
    content: "";
    background:url("../img/popular-4.svg");;
    position: absolute;
    top: 50px;
    right: 25px;

    width: 107px; 
    height: 65px;  
}

.img-smart::before {
    content: "";
    background:url("../img/popular-5.svg");;
    position: absolute;
    top: 32px;
    right: 49px;

    width: 56px; 
    height: 98px;   
}

.img-quadro::before {
    content: "";
    background:url("../img/popular-6.svg");;
    position: absolute;
    top:49px;
    right:15px;

    width: 132px; 
    height: 69px;   
}

.footer-logo {
    margin-top:5px;
    width:163px;
    height:35px;

    fill:#ffc600;
}

.modal {
    position: fixed;
  
    color: #000000;

    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-question {
    display:none;

    top: 237px;
    left: 50%;

    width: 760px;
    height:362px;
    margin-left:-480px;
    padding-left:100px;
    padding-right:100px;
    padding-top:99px;
    padding-bottom:92px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
  
    font-size: 0;
  
    background-color: #f7e296;
    border: 0;
    border-radius:50%;
  
    cursor: pointer;
  }

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 27px;
  left: 12px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.question-form p {
    display:flex;
    flex-direction:column;
}

.question-form-wrapper {
    display:flex;
}

.login-password-info {
    margin-top:39px;
    margin-bottom:55px;
}

.question-text {
    margin-bottom:13px;
}

.login-password-info textarea {
    width:720px;
    height:120px;

    background-color:#ebebeb;
    border:0;
    resize:none;

    padding-left:20px;
    padding-top:18px;
    padding-right:20px;
    padding-bottom:18px;
}

.question-icon-user {
    width:320px;
    height:50px;

    background-color:#ebebeb;

    border:0;

    padding-right:20px;
    padding-left:20px;
}

.login-icon-password {
    width:320px;
    height:50px;

    background-color:#ebebeb;

    border:0;

    padding-right:20px;
    padding-left:20px;

    margin-left:40px;
}

.question-email {
    margin-left:40px;
}

.modal-map {
    display:none;
    top: 237px;
    left: 50%;

    width: 960px;
    height:559px;
    margin-left:-480px;
  }

.modal-map p {
    margin:0;
    padding:0;
}

.myitems-footer {
    position:relative;
}

.myitems-footer a::before {
    content: "";
    background:url("../img/cart.svg");
    position: absolute;
    top: 11px;
    right: 70px;

    width: 12px; 
    height: 12px;   
}

.compare-footer a {
    position:relative;

    margin-right:63px;
}

.compare-footer a::before {
    content: "";
    background:url("../img/compare.svg");
    position: absolute;
    top: 7px;
    right: 79px;
    
    width: 10px; 
    height: 10px;   
}

.login-footer a {
    position:relative;

    margin-right:64px;
}

.login-footer-main a::before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 4px;
    right: 56px;

    width: 13px; 
    height: 12px;   
}

.login-entered-footer {
    position:relative;
}

.login-entered-footer a::before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 12px;
    right: 165px;

    width: 13px; 
    height: 12px;   
}

.login-entered-footer a {
    margin-right:17px;

    letter-spacing: 0.4px;
}

.logged a {
    margin-left:17px;
}

.logged {
    position:relative;
}

.logged a::before {
    content: "";
    background:url("../img/user.svg");
    position: absolute;
    top: 3px;
    right: 145px;

    width: 13px; 
    height: 12px;   
}

.new {
    position:relative;
}

.new::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 27px;

    width: 56px;
    height: 56px;

    opacity: 0.1;
    border: solid 2px #000000;
    border-radius:50%;
}

.new::before {
    content: "NEW";
    position: absolute;

    top: 46px;
    right: 39px;


    opacity: 0.2;
    font-family: "Gilroy", Arial , sans-serif;
    font-size:14px;
    font-weight: 800;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
}


.search {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 440px;
}
  
.search-label {
    position: absolute;

    top: 20px;
    left: 3px;
  
    width: 20px;
    height: 20px;
  
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}
  
.search-label::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
  
    display: none;
    width: 400px;
    height: 2px;
  
    background-color: #000000;
}
  
.search-main {
    position: relative;
  
    width: 356px;
    height: 38px;
    padding: 0;
  
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #000000;
  
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    margin-top:11px;
}

.search-main[type="search"]{
    padding-left: 38px;
    padding-bottom: 9px;
}

.search-main:hover {
    color:rgba(0, 0, 0, 0.6);
}

.search-main:focus {
    color:#000000;
    border-bottom: 2px solid #000000;
}

.search-main:focus + .search-button {
    display:block;
}

.search-button {
    display:none;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: center;
    color: #000000;
    background:none;

    border:2px solid #000000;

    cursor:pointer;

    margin:0;
    padding:0;
    width:85px;
    height:49px;
}

.search-button:hover {
    background:#000000;
    color:#ffffff;
}

.search-button:focus {
    background:#000000;
    color:rgba(255, 255, 255, 0.3);
}

.filter-item {
    margin: 0;
    padding: 0;
    
    border: none;
}

.range-filter {
    position:relative;

    width: 327px;
  }
  
.filter-item legend {
    position:relative;

    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color:#000000;

    margin-top:81px;
    margin-left:59px;
}
  
.range-controls .scale {
    margin-top:35px;
    margin-left:59px;
    margin-right:67px;

    height: 2px;
  
    background: #dbdbdb;
}

.range-controls .bar {
    width: 54.73%;
    height: 2px;
  
    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0px;

    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius:50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 54px;
}
  
.range-controls .toggle-max {
    left: 167px;
}

.colors {
    margin: 0;
    padding: 0;
    
    border: none;
}

.colors ul {
    margin:0;
    padding:0;
    margin-top:18px;
    margin-left:98px;
}

.filter-option {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.86;
    letter-spacing: 0.14px;
    text-align: left;
    color: #000000;

    position:relative;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -40px;

    width: 23px;
    height: 23px;
  
    background-image: url("../img/checkbox-off.svg");
    cursor: pointer;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -40px;

    width: 23px;
    height: 23px;
  
    background-image: url("../img/checkbox-on.svg");
    cursor: pointer;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -41px;
    
    width: 17px;
    height: 17px;
    padding: 0;
    border: 5px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 14px;
    left: -33px;
    
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.colors legend {
    position:relative;

    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;

    margin-top:44px;
    margin-left:59px;
}

.bluetooth {
    margin: 0;
    padding: 0;
    
    border: none;
}

.bluetooth legend {
    position:relative;

    font-family: "Gilroy", Arial , sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;

    margin-top:43px;
    margin-left:59px;
}

.bluetooth ul {
    margin:0;
    padding:0;
    margin-top:18px;
    margin-left:98px;
}

.filter-range-price {
    margin:0;
    padding:0;
    margin-top:11px;
    margin-left:60px;
}

.filter-range-label {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
}

.filter-range-label-min {
    flex-grow: 1;
    margin-right: 21px;
}
  
.filter-range-label-max {
    flex-grow: 1;
}
  
.filter-range-input {
    width: 50px;
    margin: 0;
    padding: 0;
  
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Gilroy", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0;
  
    background: none;
    border: 0;
}